.title {
    color: blue;
    text-align: center;
}

.cardWindow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 200px;
    align-self: center;
}


.card {


}

.descriptivePic {
    min-height: 150px;
    padding: 100px;
}

.mainWindow {
    display: block;
}

.picName {
    margin: 20px;
    text-align: center;

}

.infoBox {
    margin: 30px;
    min-height: 100px;
}