.title {
    color: blue;
    text-align: center;
}

.cardWindow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 200px;
    align-self: center;
}


.card {


}

.descriptivePic {
    min-height: 150px;
    padding: 50px;
}

.mainWindow {
    display: block;
}

.picName {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;

}

.infoBox {
    margin: 30px;
    min-height: 100px;
    text-align: center;
}

.image {
    height: 300px;
    width: 200px;
}